<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do List</title>
    </head>
    <body>
        
        <h1>Today is <%= kindOfDay %> </h1>
<!-- List of todos -->
        <ul>
            <li>Buy Food</li>
            <li>Cook Food</li>
            <li>Eat Food</li>
        </ul>
<!-- form for adding item in todo list -->
        <form action="/" method="post">

            <input type="text" name="new_item" placeholder="Add new item.">
            <input type="submit" value="+">

        </form>

    </body>
</html> 